---
layout: default
---

<dl class="accordion" data-accordion>
    {% for post in site.posts %}
    <dd class="accordion-navigation">
      <a href="#panel{{ forloop.index }}"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i>{{ post.title }}</a>       
      <div  id="panel{{ forloop.index }}" class="content">
        <div class="text-right"><em>{% if post.link %}First published on {% capture domain %}<a href="{{post.link}}">{{ post.link | replace: 'https://', 'http://' | remove:'http://' | split:'/' | first }}{% endcapture %} {{ domain }}</a>, {% endif %}{{ post.date | date: "  %B %e, %Y" }}</em></div>
        {{ post.content }}
        {% if post.link %}
        <div>Read more on {% capture domain %}{{ post.link | replace: 'https://', 'http://' | remove:'http://' | split:'/' | first }}{% endcapture %} <a href="{{post.link}}">{{ domain }}</a></div>
        {% endif %}
      </div>
     </dd>
    {% endfor %}
</dl>
