---
layout: default
class: postlist
title: Welcome!
---
<div class="row">
  <div class="small-12 columns small-centered" id="home">
  <dl class="accordion" data-accordion>
    <dd class="accordion-navigation">
    <a id="welcomeheader" href="#welcome"><i class="fa fa-info-circle"></i>Welcome</a>
      <div id="welcome" class="content active">
        {% capture welcometext %}{% include welcome.md %}{% endcapture %}
        {{ welcometext | markdownify }}
      </div>
    </dd>

{% for post in site.posts %}
    {% assign print = "true" %}
    {% for layout in site.special-layouts %}
      {% if post.layout contains layout %}
        {% assign print = false %}
      {% endif %}
    {% endfor %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% if this_year == "2012" or this_year == "2011" %}
      {% assign print = false %}
    {% endif %}
    {% if post.published == false %}{% assign print = false %}{% endif %}
  {% if print == "true" %}
      <dd class="accordion-navigation">
      <a href="#panel{{ forloop.index }}" onclick="ga('send', 'event', 'Reading', 'Expand Post', '{{ post.title | slugify }}')"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i>{{ post.title }}</a>
      <div  id="panel{{ forloop.index }}" class="content">
        <div class="text-right post-date"><em>First published on {{ post.date | date: "  %B %e, %Y" }}</em></div>
        {{ post.content }}
        {% if post.link %}
        <div>Read more on {% capture domain %}{{ post.link | replace: 'https://', 'http://' | remove:'http://' | split:'/' | first }}{% endcapture %} <a href="{{post.link}}" onclick="ga('send', 'event', 'Reading', 'Follow Link', '{{ post.title | slugify }}')">{{ domain }}</a></div>
        {% endif %}
      </div>
      </dd>
  {% endif %}

{% endfor %}

</dl>
</div>
</div>