    <!-- Foundation -->
    <script type='text/javascript' src='/bower_components/jquery/dist/jquery.js'></script>
    <script type='text/javascript' src='/bower_components/foundation/js/foundation.js'></script>
    <script type='text/javascript' src='/bower_components/foundation/js/foundation/foundation.accordion.js'></script>
    <script type="text/javascript">
      $(document).foundation();
//       $('dd.accordion-navigation > a').on('click', function() {
//         ga('send', 'event', 'Reading', 'Expand Post', '{'page': '{{ page.url }}'}');
//       });
    </script>