    <!-- Foundation -->
    <script type='text/javascript' src='/bower_components/jquery/dist/jquery.js'></script>
    <script type='text/javascript' src='/bower_components/foundation/js/foundation.js'></script>
    <script type='text/javascript' src='/bower_components/foundation/js/foundation/foundation.accordion.js'></script>
    <script type="text/javascript">
      $(document).foundation({
        accordion: {
          content_class: 'content',
          active_class: 'active',
          multi_expand: true,
          toggleable: true
        }});
    </script>